# Задача Коши для обыкновенного дифференциального уравнения
## Численно решить задачу Коши для обыкновенного дифференциального уравнения

In [11]:
import numpy as np
import pandas as pd
import math

# Определяем параметры задачи
a = 1  # параметр a
c = 2  # параметр c
x0 = 0  # начальное значение x
y0 = 0  # начальное значение y
h = 0.1  # шаг интегрирования
x_end = 1  # конец интервала

# Функция для вычисления правой части уравнения


def f(x, y):
    return a / (c - x)


def F(x):
    return a * math.log(c/(c-x))

In [12]:
# Проверка начального условия, равно нулю
F(0)

0.0

In [13]:
# Численный метод (усовершенствованный метод ломаных)
def improved_euler(x0, y0, h, x_end):
    x_values = [x0]
    y_values = [y0]
    x = x0
    y = y0
    
    while x < x_end: # отрезок интегрирования 
        k1 = f(x, y)
        k2 = f(x + h/2, y + (h/2) * k1)
        y_new = y + h * k2 # Un
        x += h
        
        x_values.append(x)
        y_values.append(y_new)
        y = y_new
    
    return np.array(x_values), np.array(y_values)

# Точное решение
def exact_solution(x):
    return a * np.log(c / (c - x))

In [14]:
# Вычисление решений для двух шагов: h и h/2
x_h, y_h = improved_euler(x0, y0, h, x_end)
x_h2, y_h2 = improved_euler(x0, y0, h/2, x_end)

# Точное решение для сравнения
y_exact = exact_solution(x_h)
y_exact_h2 = exact_solution(x_h2)

df_x_h = pd.DataFrame({
    'x_h': x_h,
    'y_h (h)': y_h,
    'y_exact (h)': y_exact
})

df_x_h2 = pd.DataFrame({
    'x_h/2': x_h2,
    'y_h/2': y_h2,
    'y_exact (h/2)': y_exact_h2
})

In [15]:
df_x_h

    x_h   y_h (h)  y_exact (h)
0   0.0  0.000000     0.000000
1   0.1  0.051282     0.051293
2   0.2  0.105336     0.105361
3   0.3  0.162479     0.162519
4   0.4  0.223085     0.223144
5   0.5  0.287601     0.287682
6   0.6  0.356567     0.356675
7   0.7  0.430641     0.430783
8   0.8  0.510641     0.510826
9   0.9  0.597597     0.597837
10  1.0  0.692835     0.693147
11  1.1  0.798099     0.798508

In [16]:
df_x_h2

    x_h/2     y_h/2  y_exact (h/2)
0    0.00  0.000000       0.000000
1    0.05  0.025316       0.025318
2    0.10  0.051290       0.051293
3    0.15  0.077957       0.077962
4    0.20  0.105354       0.105361
5    0.25  0.133523       0.133531
6    0.30  0.162509       0.162519
7    0.35  0.192360       0.192372
8    0.40  0.223129       0.223144
9    0.45  0.254875       0.254892
10   0.50  0.287662       0.287682
11   0.55  0.321560       0.321584
12   0.60  0.356648       0.356675
13   0.65  0.393011       0.393043
14   0.70  0.430747       0.430783
15   0.75  0.469963       0.470004
16   0.80  0.510779       0.510826
17   0.85  0.553333       0.553385
18   0.90  0.597777       0.597837
19   0.95  0.644289       0.644357
20   1.00  0.693069       0.693147